[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
tqdm = "*"
matplotlib = "*"
torch = "*"
jupyter = "*"
numpy = "<2"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
