[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
tqdm = "*"
matplotlib = "*"
torch = "*"
jupyter = "*"
numpy = "<2"
gymnasium = "*"
tensordict = "*"
torchrl = "*"
optuna = "*"

[dev-packages]
black = "*"
isort = "*"
optuna-dashboard = "*"

[requires]
python_version = "3.11"
